---
import Logo from "./Logo.astro";
---

<header
  class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center h-16 px-8"
>
  <a href="/">
    <Logo />
  </a>

  <div>
    <h1 class="uppercase text-current">Agencia de talento multiplataforma</h1>
  </div>
</header>

<style>
  svg, h1 {
    color: white;
  }
</style>
