---
const { title } = Astro.props
---

<h2 class="section-title w-screen text-7xl mb-4">
    {title}
</h2>

<style>
    @keyframes slide-in {
        100% {
            translate: 0 0;
        }
    }
    .section-title {
        translate: 0 200px;
    }

    .section-title.slide-in {
        animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
</style>

<script>
    const titles = document.querySelectorAll('.section-title')

    if (titles.length) {
        titles.forEach((title) => {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        title.classList.add('slide-in')
                        observer.unobserve(title)
                    }
                });
            });
            observer.observe(title);
        })
    }
</script>