<section class="bg-black text-white text-3xl w-full border-b-[60px] border-b-primary-green">
  <video
    class="w-full aspect-[20/9] object-cover"
    src="/videos/hero.mp4"
    autoplay
    loop
    muted
    playsinline
    >
</section>
