<section class="max-w-[1700px] mx-auto px-4 pt-48 mb-48">
    <header class="mb-2">
        <h2 class="font-bold text-[180px] leading-[0.8] tracking-tighter">te ubicamos en donde quieras estar<span class="text-primary-green">.</span></h2>
        <h3 class="ton-bold text-[54px] ml-40 tracking-tight leading-relaxed">Seas una marca o un talento.</h3>
    </header>
</section>