<section class="max-w-[1700px] mx-auto px-4 pt-48 mb-48">
    <header class="mb-24">
        <h2 class="font-bold text-[180px] leading-[0.8] tracking-tighter">te ubicamos en donde quieras estar<span class="text-primary-green">.</span></h2>
        <h3 class="font-bold text-[54px] ml-40 tracking-tight leading-relaxed">Seas una marca o un talento.</h3>
    </header>

    <div class="grid grid-cols-3 gap-20">
        <article class="relative px-10 pb-8 pt-14">
            <div class="-z-10 absolute inset-0 bg-primary-green rounded-lg"></div>
            <span class="absolute left-0 top-0 bottom-0 m-auto -rotate-90 uppercase">Representación</span>
            <img src="/info/theater.webp" alt="El meme de apretón de manos" />

            <div class="relative">
                <h5 class="uppercase pt-16 font-semibold text-3xl tracking-tight max-w-[320px]">Somos pocos porque nos implicamos mucho.</h5>
                <p class="opacity-0 text-lg absolute">
                    <strong>No tenemos roster de talentos infitos, ni queremos.</strong>
                    Creemos en dar un servicio personalizado y de calidad, por eso nos implicamos en cada proyecto.
                </p>
            </div>
        </article>
    </div>
</section>