<section class="min-h-dvh">
    <h2 class="w-screen text-7xl">Proyectos</h2>
  <article class="relative border-y-2 border-black">
    <button class="group pl-[60px] ml-14">
      <div
        class="-z-10 absolute left-0 h-full w-[60px] bg-primary-green group-hover:w-full transition-all duration-1000"
      >
      </div>
      <div class="py-8">
        <h3 class="uppercase text-6xl font-bold group-hover:translate-x-8 duration-1000 ease-in-out transition-transform">La gala del sr. croma</h3>
        <h4
          class="uppercase text-2xl text-left group-hover:opacity-0 transition-opacity duration-1000 ease-in-out"
        >
          Premios a los invisibles del cine
        </h4>
      </div>
    </button>
  </article>
</section>
