---

const PROJECTS = [
    {
        title: "La gala del sr. croma",
        subtitle: "Premios a los invisibles del cine",
        description: "En la gala del Sr. Croma se premian a los invisibles del cine, aquellos que trabajan detrás de las cámaras y que no suelen tener el reconocimiento que merecen. La gala se celebra en el Teatro Principal de Zaragoza y cuenta con la presencia de numerosos actores y actrices del panorama nacional.",
        link: "https://www.youtube.com/results?search_query=gatos",
        image: "/projects/project1.jpg",
        info: [
            {
                label: "Viewers unicos",
                value: "1.2M"
            },
            {
                label: "Visualizaciones",
                value: "2.5M"
            },
            {
                label: "Likes",
                value: "1.5M"
            },
            {
                label: "Comentarios",
                value: "1.2M"
            }
        ]
    },
    {
        title: "La gala del sr. croma",
        subtitle: "Premios a los invisibles del cine",
        description: "En la gala del Sr. Croma se premian a los invisibles del cine, aquellos que trabajan detrás de las cámaras y que no suelen tener el reconocimiento que merecen. La gala se celebra en el Teatro Principal de Zaragoza y cuenta con la presencia de numerosos actores y actrices del panorama nacional.",
        link: "https://www.youtube.com/results?search_query=gatos",
        image: "/projects/project2.jpg",
        info: [
            {
                label: "Viewers unicos",
                value: "1.2M"
            },
            {
                label: "Visualizaciones",
                value: "2.5M"
            },
            {
                label: "Likes",
                value: "1.5M"
            },
            {
                label: "Comentarios",
                value: "1.2M"
            }
        ]
    },
    {
        title: "La gala del sr. croma",
        subtitle: "Premios a los invisibles del cine",
        description: "En la gala del Sr. Croma se premian a los invisibles del cine, aquellos que trabajan detrás de las cámaras y que no suelen tener el reconocimiento que merecen. La gala se celebra en el Teatro Principal de Zaragoza y cuenta con la presencia de numerosos actores y actrices del panorama nacional.",
        link: "https://www.youtube.com/results?search_query=gatos",
        image: "/projects/project3.jpg",
        info: [
            {
                label: "Viewers unicos",
                value: "1.2M"
            },
            {
                label: "Visualizaciones",
                value: "2.5M"
            },
            {
                label: "Likes",
                value: "1.5M"
            },
            {
                label: "Comentarios",
                value: "1.2M"
            }
        ]
    },
    {
        title: "La gala del sr. croma",
        subtitle: "Premios a los invisibles del cine",
        description: "En la gala del Sr. Croma se premian a los invisibles del cine, aquellos que trabajan detrás de las cámaras y que no suelen tener el reconocimiento que merecen. La gala se celebra en el Teatro Principal de Zaragoza y cuenta con la presencia de numerosos actores y actrices del panorama nacional.",
        link: "https://www.youtube.com/results?search_query=gatos",
        image: "/projects/project4.jpg",
        info: [
            {
                label: "Viewers unicos",
                value: "1.2M"
            },
            {
                label: "Visualizaciones",
                value: "2.5M"
            },
            {
                label: "Likes",
                value: "1.5M"
            },
            {
                label: "Comentarios",
                value: "1.2M"
            }
        ]
    }]
---

<section class="min-h-dvh">
    <h2 class="w-screen text-7xl mb-4">
        Proyectos
    </h2>

    {
        PROJECTS.map((project) => (
        <article class="relative border-t-2 last:border-b-2 border-black">
            <button class="group pl-[60px] ml-14">
            <div class="-z-10 absolute left-0 h-full w-[60px] bg-primary-green group-hover:w-full transition-all duration-700">
            </div>
            <div class="py-8">
                <h3 class="uppercase text-6xl font-bold group-hover:translate-x-8 duration-700 ease-project-timing transition-transform">
                    {project.title}
                </h3>
                <h4 class="uppercase text-2xl text-left group-hover:opacity-0 transition-opacity duration-700 ease-project-timing">
                {project.subtitle}
                </h4>
            </div>
            </button>
        </article>
        ))
    }
</section>
