---
import SectionTitle from "@components/SectionTitle.astro";
import "node_modules/@glidejs/glide/dist/css/glide.core.min.css";

const TALENTS = [
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
  {
    id: "cromawoman",
    name: "Cromawoman",
    description:
      "Cromawoman es una actriz de cine y televisión que ha trabajado en numerosas películas y series de televisión. Ha sido nominada a varios premios y ha ganado varios de ellos. Es una de las actrices más reconocidas de la industria del cine y la televisión.",
    lema: "La actriz más croma de la industria",
    audiencia: "1.2M",
    socials: [
      {
        name: "instagram",
        link: "https://www.instagram.com/cromawoman",
      },
      {
        name: "twitter",
        link: "https://www.twitter.com/cromawoman",
      },
      {
        name: "facebook",
        link: "https://www.facebook.com/cromawoman",
      },
      {
        name: "youtube",
        link: "https://www.youtube.com/cromawoman",
      },
      {
        name: "tiktok",
        link: "https://www.tiktok.com/cromawoman",
      },
    ],
  },
];
---

<section class="border-b-[60px] border-primary-green my-48">
  <SectionTitle title="Talentos" />

  <div id="talent-slider" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides bg-primary-green">
        {
          TALENTS.map((talent, index) => (
            <li class="glide__slides">
              <button data-slide={index}>
                <img
                  class="inline-flex aspect-[160/100] h-full w-full object-top object-cover"
                  src="/talents/03.png"
                  alt={talent.name}
                />
              </button>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <article class="aspect-[23/9] bg-[#171717] relative">
    <fugure class="absolute right-0 bottom-0">
      <img
        class="object-cover object-center h-auto w-[700px]"
        src="/talents/03.png"
        alt="Cromawoman"
      />
    </fugure>
  </article>
</section>

<style>
  .glide__slide {
    transition: background-color 3s;
  }
  .glide__slide--active {
    @apply bg-[#171717];
  }
</style>

<script>
  import Glide from "@glidejs/glide";

  const slider = document.querySelector("#talent-slider");
  const glide = new Glide("#talent-slider", {
    type: "carousel",
    gap: 0,
    focusAt: "center",
    startAt: 3,
    perView: 7,
  }).mount();

  slider?.addEventListener("click", (e) => {
    console.log(e.target);
    const clickedElement = e.target as HTMLElement;
    const isButton = clickedElement.tagName === "BUTTON";
    const buttonElement = isButton ? clickedElement : clickedElement.closest("button");

    if (buttonElement) {
      const index = buttonElement.dataset.slide;
      glide.go(`=${index}`);
    }
  });

</script>
