<section class="w-full flex overflow-x-hidden relative">
  <div id="ubicados" class="flex -ml-10">
    <img src="/team/ubiqados.svg" alt="Ubicados" />
    <img src="/team/ubiqados.svg" alt="Ubicados" />
  </div>

  <div class="absolute inset-0 flex justify-center items-center">
    <button
      class={`
      uppercase text-transparent hover:text-black text-2xl font-bold tracking-tighter text-center
      border-primary-green border-2 border-solid rounded-full size-72 px-20
      hover:bg-primary-green
      transition-all duration-700 ease-project-timing
      `}
    >
      ¿Quiénes somos?
    </button>
  </div>
</section>

<style>
  img {
    width: 220vw;
    max-width: 220vw;
  }

  #ubicados {
    transition-duration: 6s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.01, 0.64, 0.99);
  }

  section:hover #ubicados {
    transform: translateX(-50%);
  }
</style>
